<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab1</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        
        <h1>Pratical Exercises</h1>

    </div>
    <div class="container">
        <h2>Exercise 1</h2>
        <p>the linear equation: <i>y</i> = 5<i>x</i> + 7 with <i>x</i> = −2.</p>
        <p>Here is the equation <i>y</i>: 3</p>
        
    </div>

    <div class="ex2">
        <h2>Exercise 2</h2>
        <p> student’s personal information:</p>
    </div>

    <div class="ex1">
        <ul class="dot">
            <li>Name</li>
            <li>Student ID</li>
            <li>Academic Year.</li>
            <li>Major</li>
            <li>Hobbies</li>
        </ul>
        


    </div>
    
</body>
</html>