<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="/result" method="post">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" placeholder="Enter your name" required>
        </div>
        <div>
            <label for="physic">Physic: </label>
            <input type="number" name="physic" placeholder="Enter your physic score" required>
        </div>
        <div>
            <label for="chemistry">chemistry: </label>
            <input type="number" name="chemistry" placeholder="Enter your chemistry score" required>
        </div>
        <div>
            <label for="math">Math: </label>
            <input type="number" name="math" placeholder="Enter your math score" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>